<div class="row">
  <div class="pull-left">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="pull-right">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="goToShoppingList()" style="cursor: pointer">To shipping list</a></li>
        <li><a routerLink="edit">Edit Recipe</a></li>
        <li><a >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive"/>
  </div>
</div>
<div class="row">
  <hr>
</div>
<div class="row">
  <div class="col-xs-12 sub-text-center">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <hr>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Ingredients</h2>
  </div>
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of recipe.ingredients">
        {{ item.name }} - {{ item.amount }}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <hr>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Process</h2>
  </div>
</div>
<div class="row">
  <hr>
</div>
